<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979389776886-knd40raepo89s8ljh4ob7c2lhu480v7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979389776886-knd40raepo89s8ljh4ob7c2lhu480v7f</string>
	<key>API_KEY</key>
	<string>AIzaSyAvgYcwcP3PCubeHXEcg7XugL9tjcwcrSA</string>
	<key>GCM_SENDER_ID</key>
	<string>979389776886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.doodel.user</string>
	<key>PROJECT_ID</key>
	<string>doodel-a748b</string>
	<key>STORAGE_BUCKET</key>
	<string>doodel-a748b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979389776886:ios:63386cc7536a92547b3dd7</string>
	<key>DATABASE_URL</key>
	<string>https://doodel-a748b.firebaseio.com</string>
</dict>
</plist>